*{
          margin: 0;
          padding: 0;
}
#login{
          width: 70%;
          height: 400px;
          display: flex;
          position: absolute;
          top: 100px;
          left: 200px;
          background-color: #cea9a9;
          border-radius: 5px;
}
#login .left{
          width: 50%;
}
#login .left img{
          width: 100%;
          height: 100%;
}
#login .right{
          width: 50%;
          padding-left: 40px;
}
#login .right h1{
          padding-top: 30px;
          padding-left: 0;
          padding-bottom: 7px;
          font-size: 25px;
}
#login .right p{
          color: rgb(39, 42, 46);
          font-size: 17px;
          padding-bottom: 50px;
}
#login .right .email{
          /* color:  rgb(39, 42, 46); */
}
#login .right .email h3{
          color:  rgb(39, 42, 46);
}
#login .right .email input{
          margin-left: 20px;
          margin-top: 10px;
          width: 300px;
          height: 25px;
          border-radius: 5px;
          border: none;
}
#login .right .email i{
          font-size: 20px;
          position: relative;
          left: -26px;
          top: 2px;
}
#login .right .password h3{
          padding-top: 14px;
          color:  rgb(39, 42, 46);
}
#login .right .password input{
          margin-left: 20px;
          margin-top: 10px;
          width: 300px;
          height: 25px;
          border-radius: 5px;
          border: none;
}
#login .right .password i{
          font-size: 20px;
          position: relative;
          left: -26px;
          top: 2px;
}
#login .right .verify{
          padding-top: 30px;
}
#login .right .verify button{
          width: 150px;
          height: 40px;
          font-size: 19px;
          margin-right: 10px;
          margin-left: 10px;
          border-radius: 20px;
          border: none;
}
#login .right .verify button:hover{
          background-color: rgb(64, 64, 168);
          color: #fff;
}